[Unit]
Description=FastAPI Backend
After=network.target

[Service]
User=ansel
WorkingDirectory=/home/ansel/webhook
ExecStart=/home/ansel/.local/bin/uv run uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
